<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
  

    <aop:aspectj-autoproxy />

    <aop:config>
        <aop:pointcut id="txService" expression="execution(* com.rundatop.**.service..*Service*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txService"/>     
    </aop:config>
	
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="sys_dataSource"/>
    </bean>
    
    <aop:config>
		 <aop:pointcut id="logService" expression="execution( * com.rundatop..*(..)) and @target(org.springframework.stereotype.Service)"/>
		 <aop:advisor advice-ref="serviceLogAdvice" pointcut-ref="logService"/> 
	</aop:config>
	
	
	
    
    <bean id="serviceLogAdvice" class="com.rundatop.core.aop.ServiceLogAdvice">
	</bean>
	
</beans>