<!--content-heading start-->
<h3>
	<em class="icon-user-following"></em> 权限管理
</h3>
<!--content-heading end-->

<!--content-body start-->
<form class="form-horizontal">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<div class="pull-right pl-sm">
						<button type="button" class="btn btn-info bg-info-light"
							ng-click="add(0)">新增</button>
					</div>



					<div class="clearfix"></div>
				</div>
				<!-- START table-responsive-->
				<div class="panel-body MpaddingTop0">

					<div class="row">

						<div ng-repeat="pan in functions" class="col-lg-4"
							ng-init="func=pan">
							<div id="function{{pan.id}}" class="panel"
								ng-controller="functionpanelController">
								<div ng-class="{'panel-heading-collapsed':panelDemo}"
									class="panel-heading">
									{{pan.name}} <a href="javascript:;" ng-click="edit(pan.id)">编辑</a>
									<a href="javascript:;" ng-click="del(pan)">删除</a>
									<paneltool tool-collapse="tool-collapse"
										tool-dismiss="tool-dismiss"></paneltool>
								</div>
								<div uib-collapse="function{{pan.id}}" class="panel-wrapper">
									<div class="panel-body" style="min-height: 300px;">
										<div ng-repeat="fun in funcList"
											class="col-sm-12 animate-repeat">
											<a ng-if="fun.type!=4" href="javascript:;"
												ng-click="goFunctionPage(fun)">{{fun.name}}</a>
											{{fun.type==4?fun.name:""}} <a href="javascript:;"
												ng-click="edit(fun.id)">编辑</a> <a href="javascript:;"
												ng-click="del(fun.id)">删除</a>
										</div>
									</div>
									<div class="panel-footer">
										<span ng-repeat="foot in footList"> /<a
											href="javascript:void(0)" ng-click="goFunctionPage(foot)">{{foot.name}}</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
			<div class="row">
					 	
					 	<div ng-repeat="pan in functions" class="col-lg-4" ng-init="func=pan">
					 			<div id="function{{pan.id}}" class="panel"  ng-controller="functionpanelController">
					 				 <div ng-class="{'panel-heading-collapsed':panelDemo}" class="panel-heading">
							           		{{pan.name}}
							           		<a href="javascript:;" ng-click="edit(pan.id)">编辑</a>
											<a href="javascript:;" ng-click="del(pan.id)">删除</a>
								         <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" ></paneltool>
							         </div>
							         <div uib-collapse="function{{pan.id}}" class="panel-wrapper">
							         	<div class="panel-body" style="min-height: 300px;">
                 							<div ng-repeat="fun in funcList" class="col-sm-12 animate-repeat">	
                 								<a ng-if="fun.type!=4" href="javascript:;" ng-click="goFunctionPage(fun)">{{fun.name}}</a>
														{{fun.type==4?fun.name:""}}
												<a href="javascript:;" ng-click="edit(fun.id)">编辑</a>
												<a href="javascript:;" ng-click="del(fun.id)">删除</a>
											</div>
							            </div>
							            <div class="panel-footer">
							            <span ng-repeat="foot in footList">
							            /<a  href="javascript:void(0)" ng-click="goFunctionPage(foot)">{{foot.name}}</a>
							            </span>
							            
							            </div>
							         </div> 
							         
					 			</div>
					 			
					 		
					 	</div>
					 	
					 </div>	
						
						
						
						
		   </div>
					
					
			<div class="row">
					 	
					 	<div ng-repeat="pan in functions" class="col-lg-4" ng-init="func=pan">
					 			<div id="function{{pan.id}}" class="panel"  ng-controller="functionpanelController">
					 				 <div ng-class="{'panel-heading-collapsed':panelDemo}" class="panel-heading">
							           		{{pan.name}}
							           		<a href="javascript:;" ng-click="add(pan.id)">新增</a>
							           		<a href="javascript:;" ng-click="edit(pan.id)">编辑</a>
											<a href="javascript:;" ng-click="del(pan)">删除</a>
								         <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" ></paneltool>
							         </div>
							         <div uib-collapse="function{{pan.id}}" class="panel-wrapper">
							         	<div class="panel-body" style="min-height: 300px;">
                 							<div ng-repeat="fun in funcList" class="col-sm-12 animate-repeat">	
                 								<a ng-if="fun.type!=4" href="javascript:;" ng-click="goFunctionPage(fun)">{{fun.name}}</a>
														{{fun.type==4?fun.name:""}}
												<a href="javascript:;" ng-click="edit(fun.id)">编辑</a>
												<a href="javascript:;" ng-click="del(fun)">删除</a>
											</div>
							            </div>
							            <div class="panel-footer">
							            <span ng-repeat="foot in footList">
							            /<a  href="javascript:void(0)" ng-click="goFunctionPage(foot)">{{foot.name}}</a>
							            </span>
							            
							            </div>
							         </div> 
							         
					 			</div>
					 			
					 		
					 	</div>
					 	
					 </div>	
						
						
						
						
		   </div>
				</div>
			</div>
		</div>
	</div>
</form>
<style>
.animate-repeat {
	opacity: 1;
	margin-left: 0;
}

.animate-repeat.ng-move, .animate-repeat.ng-enter {
	transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move,
	.animate-repeat.ng-enter {
	opacity: 0;
}

.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
	transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
}
</style>
<!--content-body end-->
