<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rundatop.sys.mapper.SysUserFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.rundatop.sys.model.SysUserFunction" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="function_id" property="functionId" jdbcType="INTEGER" />
  </resultMap>
</mapper>